body{
  margin:0;
  padding:0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:14px;
  color:#444;
  box-sizing: border-box;
}

.slider{
  width:960px;
  margin:0 auto;
  overflow: hidden;
  position:relative;
}

.sliderContainer{
  display:flex;
  flex-wrap: nowrap;
  transition: all ease-in 1s;
}

.card{
  width:220px;
  margin:10px;
  padding:10px;
  background: #ecf0f1;
  border-radius:4px;
  line-height: 1.5;
  transition: all cubic-bezier(0.155, 0.005, 0.085, 1.000) 1.25s;
  transform:none;
}

.card:hover{
  box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  transform: translate(0, -4px);
}

.card h3{
  color:#e67e22;
  text-transform:uppercase;
}

.arrowPrev{
  position:absolute;
  left:0;
  top:50%;
  width:30px;
  height: 30px;
  background: red;
    display:none;
}

.arrowNext{
  position:absolute;
  right:0;
  top:50%;
  width:30px;
  height: 30px;
  background: red;
  display:none;
}

.is-visible{
  display:block;
}

.sliderContainer div:nth-child(0) { transition-delay: 0s }
.sliderContainer div:nth-child(1) { transition-delay: 0.04s }
.sliderContainer div:nth-child(2) { transition-delay: 0.08s }
.sliderContainer div:nth-child(3) { transition-delay: 0.12s }
.sliderContainer div:nth-child(4) { transition-delay: 0.16s }
.sliderContainer div:nth-child(5) { transition-delay: 0.18s }
.sliderContainer div:nth-child(6) { transition-delay: 0.22s }
.sliderContainer div:nth-child(7) { transition-delay: 0.24s }
.sliderContainer div:nth-child(8) { transition-delay: 0.64s }


/*
$curve_slow_fast_slow1: cubic-bezier(0.525, 0.005, 0.045, 1.005);

$curve_slow_fast_slow2: cubic-bezier(0.290, 0.005, 0.085, 1.000);

$curve_slow_fast1: cubic-bezier(0.155, 0.005, 0.000, 1.000);

$curve_slow_fast2: cubic-bezier(0.155, 0.005, 0.085, 1.000);
*/
